<div class="row text-center">
    <div class="col">
        <h1>Counter</h1>
        {{ counter }}
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <button class="btn btn-primary mr-2" (click)="increment()">Increment</button>
        <button class="btn btn-info" (click)="decrement()">Decrement</button>
    </div>
</div>

<hr>

<!--Sending the counter attribute from parent to children.
            The parent is listening the changes from the children through the
            counterChanged output from the children -->
<div class="row text-center">
    <div class="col">
        <app-children></app-children>
    </div>
</div>